html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Font-Family-Primary);
  background-color: var(--Color-DM-Dark-Blue);
  height: 100vh;
  padding: 3.1rem 2.4rem;

  @include Responsive-Tablet {
    padding: 14rem 9.8rem;
  }

  @include Responsive-Desktop {
    padding: 14.4rem 35.5rem;
  }
}
