html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-body-background);
  font-family: var(--font-family);
  height: 100vh;
  padding: 3rem 2.4rem;
}
