.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.6rem;

  &__logo {
    color: var(--color-logo);
    font-size: 2.6rem;
    text-decoration: none;
    line-height: 29px;
  }
}
