:root {
  --color-body-background: #141d2f;
  --color-text-1: #fff;
  --color-text-2: #fff;
  --color-logo: #fff;
  --color-toggle: #fff;
  --color-toggle-hover: #90a4d4;
  --color-repo-background: #141d2f;

  --font-family: "Space Mono", monospace;
}

.light-mode {
  --color-body-background: #f6f8ff;
  --color-text-1: #4b6a9b;
  --color-text-2: #2b3442;
  --color-logo: #222731;
  --color-toggle: #222731;
  --color-toggle-hover: #222731;
  --color-repo-background: #f6f8ff;
}
