/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --Color-Primary: #0079ff;
  --Color-LM-Medium-Grey: #697c9a;
  --Color-LM-Light-Blue: #4b6a9b;
  --Color-LM-Dark-Grey: #2b3442;
  --Color-LM-Light-Grey: #f6f8ff;
  --Color-LM-White: #fefefe;
  --Color-DM-White: #ffffff;
  --Color-DM-Dark-Blue: #141d2f;
  --Color-DM-Medium-Blue: #1e2a47;
  --Font-Family-Primary: "Space Mono", monospace;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Font-Family-Primary);
}
